@import url("/css/terminal.css");
@import url("/css/compass.css");

@font-face{
    font-family: atari;
    src: url("/game_elements/fonts/PressStart2P.ttf");
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: atari;
    font-size: 22px;
    color: lightgray;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: black;
    white-space: nowrap;
}

.intro{
    position: absolute;
    width: 100vw;
    height: 100vh;
    opacity: 0.3;
    z-index: 2;
}

.intro.animate{
    opacity: 1;
    transition: opacity 5s ease-in-out;
}

main{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50px;
    left: 50px;
}

.game-container{
    width: 1400px;
    height: 1000px;
    padding: 10px 20px 10px 20px;
    opacity: 0;
    display: flex;
    flex-direction: column;
}

.containerShowUp{
    transition: opacity 10s 5s;
    z-index: 3;
}


.location{
    min-width: 380px;
    height: 240px;
    border: 3px solid darkgray;
}

.direction{
    margin: 20px 0px 20px 0px;
}

.sight{
    margin-bottom: 20px;
}

.carried-item{
    margin-bottom: 40px;
}







